@font-face {
    font-family: wdk;
    src: url('font/wdk.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: wdk;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:attr(data-icon)
}

.icon-add:before {
    content: '\E901'
}

.icon-app-link-close:before {
    content: '\E902'
}

.icon-arrow-down:before {
    content: '\E903'
}

.icon-arrow-left:before {
    content: '\E904'
}

.icon-arrow-right:before {
    content: '\E905'
}

.icon-avatar-default:before {
    content: '\E906'
}

.icon-cart-add:before {
    content: '\E907'
}

.icon-cart-minus:before {
    content: '\E908'
}

.icon-cart:before {
    content: '\E909'
}

.icon-close:before {
    content: '\E90A'
}

.icon-download:before {
    content: '\E90B'
}

.icon-help:before {
    content: '\E90C'
}

.icon-hongbao-expired:before {
    content: '\E90D'
}

.icon-hongbao-failure:before {
    content: '\E90E'
}

.icon-hongbao-pocket-empty:before {
    content: '\E90F'
}

.icon-hongbao-used:before {
    content: '\E910'
}

.icon-listfood-default:before {
    content: '\E911'
}

.icon-lluckybag:before {
    content: '\E912'
}

.icon-logo-e:before {
    content: '\E913'
}

.icon-logo-eleme:before {
    content: '\E914'
}

.icon-logo:before {
    content: '\E915'
}

.icon-menu:before {
    content: '\E916'
}

.icon-minus:before {
    content: '\E917'
}

.icon-mobile:before {
    content: '\E918'
}

.icon-notice:before {
    content: '\E919'
}

.icon-order-call:before {
    content: '\E91A'
}

.icon-order-edit:before {
    content: '\E91B'
}

.icon-order-mic:before {
    content: '\E91C'
}

.icon-order-timeline-arrive-blue:before {
    content: '\E91D'
}

.icon-order-timeline-arrive-grey:before {
    content: '\E91E'
}

.icon-order-timeline-cancel-order-blue:before {
    content: '\E91F'
}

.icon-order-timeline-cancel-order-grey:before {
    content: '\E920'
}

.icon-order-timeline-completion-order-blue:before {
    content: '\E921'
}

.icon-order-timeline-completion-order-grey:before {
    content: '\E922'
}

.icon-order-timeline-customer-service-blue:before {
    content: '\E923'
}

.icon-order-timeline-customer-service-grey:before {
    content: '\E924'
}

.icon-order-timeline-distribution-blue:before {
    content: '\E925'
}

.icon-order-timeline-distribution-grey:before {
    content: '\E926'
}

.icon-order-timeline-fail-pay-blue:before {
    content: '\E927'
}

.icon-order-timeline-fail-pay-grey:before {
    content: '\E928'
}

.icon-order-timeline-order-blue:before {
    content: '\E929'
}

.icon-order-timeline-order-grey:before {
    content: '\E92A'
}

.icon-order-timeline-payment-blue:before {
    content: '\E92B'
}

.icon-order-timeline-payment-grey:before {
    content: '\E92C'
}

.icon-order-timeline-restaurant-blue:before {
    content: '\E92D'
}

.icon-order-timeline-restaurant-grey:before {
    content: '\E92E'
}

.icon-order:before {
    content: '\E92F'
}

.icon-pause:before {
    content: '\E930'
}

.icon-pay:before {
    content: '\E931'
}

.icon-photowall-noresult:before {
    content: '\E933'
}

.icon-point-record:before {
    content: '\E934'
}

.icon-point:before {
    content: '\E935'
}

.icon-profile-balance:before {
    content: '\E936'
}

.icon-profile-coins:before {
    content: '\E937'
}

.icon-profile-hongbao:before {
    content: '\E938'
}

.icon-profile-service:before {
    content: '\E939'
}

.icon-profile-vip:before {
    content: '\E93A'
}

.icon-ratingOn:before {
    content: '\E93B'
}

.icon-ratingfaceOff:before {
    content: '\E93C'
}

.icon-ratingfaceOn:before {
    content: '\E93D'
}

.icon-ratingfaceOn0:before {
    content: '\E93E'
}

.icon-ratingfaceOn1:before {
    content: '\E93F'
}

.icon-remove:before {
    content: '\E940'
}

.icon-res-bad:before {
    content: '\E941'
}

.icon-res-collection:before {
    content: '\E942'
}

.icon-res-licenses:before {
    content: '\E943'
}

.icon-res-register:before {
    content: '\E944'
}

.icon-res-supervise:before {
    content: '\E945'
}

.icon-res-well:before {
    content: '\E946'
}

.icon-res-x:before {
    content: '\E947'
}

.icon-rest-ordinary:before {
    content: '\E948'
}

.icon-rmb:before {
    content: '\E949'
}

.icon-sales-good:before {
    content: '\E94A'
}

.icon-sales-hot:before {
    content: '\E94B'
}

.icon-search:before {
    content: '\E94C'
}

.icon-service-human:before {
    content: '\E94D'
}

.icon-service-phone:before {
    content: '\E94E'
}

.icon-sofa:before {
    content: '\E94F'
}

.icon-success:before {
    content: '\E950'
}

.icon-time:before {
    content: '\E951'
}

.icon-wallet:before {
    content: '\E952'
}

.icon-warning:before {
    content: '\E953'
}

.wdk-design {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wdk-design a {
    padding: 0.5em;
    display: block;
}

.wdk-design-page::before,
.wdk-design-view::before {
    font-family: wdk;
    font-style: normal;
    font-weight: 400;
    speak: none;
    text-align: center;
    font-size: 40px;
    display: block;
    line-height: 1em;
}

.wdk-design-view::before {
    content: '\f0f6'
}

.wdk-design-page::before {
    content: '\f044'
}

.wdk-design-view::after,
.wdk-design-page::after {
    display: block;
    font-size: 14px;
}

.wdk-design-view::after {
    content: '\6D4F\89C8\89C6\56FE';
}

.wdk-design-page::after {
    content: '\8BBE\8BA1\89C6\56FE';
}