body>* {
    display: none;
}

body>div.ie {
    display: block;
    content: '12222';
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    top: 40%;
}

body>div.ie>div {
    font-size: 14px;
    color: #999;
}

