.umc-sub-index.ui-pager #app .main-container {
    background: #fafbfc;
}


.umc-sub-header-bg {
    text-align: center;
    height: 520px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url(images/header_bg.png);
}

.umc-sub-header-desc {
    text-align: center;
    font-size: 18px;
    padding: 0 3em;
}

.umc-sub-header-title {
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    color: #262626;
    line-height: 1.35;
    margin-bottom: 16px;
    padding-top: 40px;
    text-align: center;
}


.umc-sub-header-container {
    position: relative;
    background: #fff;
}

.umc-sub-header-container.index {
    /* background: #f0fcfa; */
    height: 584px;
    overflow: hidden;
    background-image: linear-gradient(to right, #2e77e5 0, #0b5dd9 100%);

}

.umc-sub-header-container.index .index-bg-container {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
}

.umc-sub-header-container.index .index-bg-container>div {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border-bottom: transparent 200px;
    position: relative;
}

.umc-sub-header-container.index .index-bg-container>div::before {
    content: ' ';
    background: #fff;
    display: block;
    height: 78%;
}

.umc-sub-header-container.index .index-bg-container>div::after {
    content: ' ';
    display: block;
    border-top: 33px solid #fff;
    border-right: 240px solid transparent;
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(2)::before {
    height: calc(78% - 69px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(2)::after {
    border-top-width: 69px;
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(3)::before {
    height: calc(78% - 102px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(4)::before {
    height: calc(78% - 171px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(4)::after {
    border-top-width: 69px;
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(5)::before {
    height: calc(78% - 204px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(6)::before {
    height: calc(78% - 313px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(6)::after {
    border-top-width: 109px;
}

.umc-sub-header-container.index .index-bg-container>div>b {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(67 199 213 / 25%);
    background-color: #4ac8d4;
    position: absolute;
    margin-top: -3.5px;
    margin-left: -3.5px;
    top: 78%;
    right: 0;
    z-index: 1;
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(2) b {
    top: calc(78% - 69px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(3) b {
    top: calc(78% - 102px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(4) b {
    top: calc(78% - 171px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(5) b {
    top: calc(78% - 204px);
}

.umc-sub-header-container.index .index-bg-container>div:nth-child(6) b {
    top: calc(78% - 313px);
}


.top-content .top-content-sub-bg-img {
    position: absolute;
    right: 160px;
    top: 80px;
    width: 478px;
    height: 445px;
    z-index: 1;
}

.top-content .top-content-sub-bg-img .rocket-m {
    display: none
}

.top-content .top-content-sub-bg-img img {
    position: absolute;
    transition: all 1.7s
}

.top-content .top-content-sub-bg-img #rocket_body {
    top: 150px;
    left: -30px
}

.top-content .top-content-sub-bg-img #rocket_body.end {
    top: 0;
    left: 85px
}

@keyframes rocket_body {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(5px, -8px)
    }

    100% {
        transform: translate(0, 0)
    }
}


.top-content .top-content-sub-bg-img #rocket_block_left_1 {
    top: 200px;
    left: 95px;
    opacity: 0;
    transition-duration: 3s
}

.top-content .top-content-sub-bg-img #rocket_block_left_1.end {
    top: 150px;
    left: 35px;
    opacity: 1
}

@keyframes rocket_block_left_1 {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(10px, -16px)
    }

    100% {
        transform: translate(0, 0)
    }
}


.top-content .top-content-sub-bg-img #rocket_block_left_2 {
    top: 200px;
    left: 120px;
    opacity: 0
}

.top-content .top-content-sub-bg-img #rocket_block_left_2.end {
    top: 250px;
    left: 0;
    opacity: 1
}

@keyframes rocket_block_left_2 {
    0% {
        top: 250px;
        left: 0
    }

    50% {
        top: 234px;
        left: 10px
    }

    100% {
        top: 250px;
        left: 0
    }
}



.top-content .top-content-sub-bg-img #rocket_block_right_1 {
    top: 200px;
    left: 145px;
    opacity: 0
}

.top-content .top-content-sub-bg-img #rocket_block_right_1.end {
    top: 230px;
    left: 280px;
    opacity: 1
}

@keyframes rocket_block_right_1 {
    0% {
        top: 230px;
        left: 280px
    }

    50% {
        top: 246px;
        left: 290px
    }

    100% {
        top: 230px;
        left: 280px
    }
}


.top-content .top-content-sub-bg-img #rocket_block_right_2 {
    top: 250px;
    left: 310px;
    opacity: 0;
    transition-duration: 3s
}

.top-content .top-content-sub-bg-img #rocket_block_right_2.end {
    top: 250px;
    left: 340px;
    opacity: 1
}

@keyframes rocket_block_right_2 {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(-10px, 16px)
    }

    100% {
        transform: translate(0, 0)
    }
}



.top-content .top-content-sub-bg-img #rocket_halo_XS {
    top: 158px;
    left: 227px;
    transform: scale(.4)
}

.top-content .top-content-sub-bg-img #rocket_halo_XS.end {
    top: -16px;
    left: 357px;
    transform: scale(.4)
}

@keyframes rocket_halo_XS {
    0% {
        transform: scale(.4)
    }

    50% {
        transform: scale(.6)
    }

    100% {
        transform: scale(.4)
    }
}

.top-content .top-content-sub-bg-img #rocket_halo_L,
.top-content .top-content-sub-bg-img #rocket_halo_L_fadeout {
    top: 238px;
    left: 23px;
    transition-duration: 2.2s
}

.top-content .top-content-sub-bg-img #rocket_halo_L.end,
.top-content .top-content-sub-bg-img #rocket_halo_L_fadeout.end {
    top: 88px;
    left: 138px
}

@keyframes rocket_halo_L {
    0% {
        top: 88px;
        left: 138px;
        transform: scale(1)
    }

    50% {
        top: 98px;
        left: 122px;
        transform: scale(.8)
    }

    100% {
        top: 88px;
        left: 138px;
        transform: scale(1)
    }
}



@keyframes rocket_halo_L_fadeout {
    0% {
        top: 88px;
        left: 138px;
        transform: scale(1);
        opacity: 0
    }

    50% {
        top: 98px;
        left: 122px;
        transform: scale(.8);
        opacity: .8
    }

    100% {
        top: 108px;
        left: 106px;
        transform: scale(.6);
        opacity: 0
    }
}


.top-content .top-content-sub-bg-img #rocket_tail_L {
    top: 385px;
    left: -32px
}

.top-content .top-content-sub-bg-img #rocket_tail_L.end {
    top: 235px;
    left: 83px
}

@keyframes rocket_tail_L {
    0% {
        opacity: 1;
        transform: translate(0, 0)
    }

    50% {
        opacity: 0;
        transform: translate(5px, -8px)
    }

    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}


.top-content .top-content-sub-bg-img #rocket_tail_S {
    opacity: 0
}

.top-content .top-content-sub-bg-img #rocket_tail_S.end {
    top: 235px;
    left: 123px;
    opacity: 0
}

@keyframes rocket_tail_S {
    0% {
        opacity: 0;
        transform: translate(0, 0)
    }

    50% {
        opacity: 1;
        transform: translate(5px, -8px)
    }

    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}


.top-content .top-content-sub-bg-img #rocket_halo_S {
    top: 420px;
    left: 0;
    transform: scale(.8);
    transition-duration: 1.5s
}

.top-content .top-content-sub-bg-img #rocket_halo_S.end {
    top: 270px;
    left: 115px;
    transform: scale(.8)
}

@keyframes rocket_halo_S {
    0% {
        transform: scale(.8)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(.8)
    }
}

.top-content .top-content-data-content {
    margin-top: 125px
}

.top-content .top-content-data-content .top-content-data-number {
    display: inline-block;
    width: 114px;
    height: 64px;
    line-height: 44px;
    font-family: dinregular;
    font-size: 32px;
    color: #fff;
    margin-right: 32%;
    position: relative
}

.top-content .top-content-data-content .top-content-data-number span {
    font-family: dinregular
}

.top-content .top-content-data-content .top-content-data-number .top-content-arrow-up {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 21px;
    right: -2px;
    overflow: hidden
}

.top-content .top-content-data-content .top-content-data-number .top-content-arrow-up img {
    position: absolute;
    top: 0;
    left: 0;
    animation: arrow-up 1s linear 2.5
}

.top-content .top-content-data-content .top-content-data-number:nth-child(2) .top-content-arrow-up {
    right: 13px
}

.top-content .top-content-data-content .top-content-data-number:nth-child(3) {
    margin-right: 0
}

.top-content .top-content-data-content .top-content-data-number:nth-child(3) .top-content-arrow-up {
    right: -2px
}

.top-content .top-content-data-content .top-content-data-number .top-content-data-content {
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: PingFangSC;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #fff
}

.top-content .top-content-title {
    font-size: 40px;
    letter-spacing: 10px
}

.top-content .top-content-subtitle {
    font-size: 20px;
    margin-top: 10px
}

.top-content .top-content-hint {
    font-size: 14px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    color: #fff;
    opacity: .65;
    margin-top: 10px;
    line-height: 1.6
}

.top-content .top-content-try {
    margin-top: 20px
}

.top-content .top-content-try .top-content-try-input {
    padding-left: 15px;
    width: 350px;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    vertical-align: top
}

.top-content .top-content-slogan {
    margin-top: 90px;
}

.top-content .top-content-slogan .main-content-1-title {
    height: 33px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #212326;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}

.top-content .top-content-slogan .main-content-1 {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 4.4px;
    line-height: 60px;
    color: #1d1e20;
}

.top-content .top-content-slogan .main-content-1-sub {
    margin-top: 9px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #6c6f75;
    letter-spacing: 1px;
}

.top-content .top-content-try .top-content-concat-button.top,
.top-content .top-content-try .top-content-try-button.top {
    box-shadow: 0 20px 24px 0 rgb(255 105 74 / 15%), 0 8px 16px 0 rgb(252 101 69 / 5%);
}

.top-content .top-content-try .top-content-concat-button,
.top-content .top-content-try .top-content-try-button {
    width: 120px;
    /* height: 44px; */
    border-radius: 3px;
    background-image: linear-gradient(to right, #ff6a4c, #f24e24 100%);
    cursor: pointer;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    font-size: 16px;
    border: solid 1px #f24e24;
}

.top-content .top-content-try .top-content-try-button.help{
    background-image:none;

    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.top-content .top-content-try .top-content-try-button.income{
    background-image: linear-gradient(to right, #047ae8, #1890ff 100%);

    border: 1px solid #1890ff;
}
.index-solution-card {
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgb(48 48 48 / 10%);
    border-radius: 3px;
    background-color: #fff;
    /* display: flex; */
    padding: 30px;
    transition: .3s;
    /* z-index: 0; */
    flex: 1;
    margin: 10px 10px 10px;
}

.index-solution-card:hover {
    position: relative;
    box-shadow: 0 20px 40px 0 rgb(48 48 48 / 5%), 0 30px 60px 0 rgb(48 48 48 / 10%);
    z-index: 1;
}

.index-solution-card-img {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.index-solution-card-content {
    display: inline-block;
    /* width: 60%; */
    margin-left: 10%;
    vertical-align: middle;
}

.index-solution-card-content-title {
    font-size: 20px;
    line-height: 1.5;
    color: #1d1e20;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.product-top-name {
    height: 33px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #212326;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
}

.product-top-title {
    max-width: 442px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 4.4px;
    line-height: 60px;
    color: #1d1e20;
}

.product-top-subtitle {
    max-width: 442px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6c6f75;
    margin-top: 10px;
}

.product-project-image {
    float: right;
    width: 488px;
    height: 488px;
    margin: auto;
    text-align: center;
}

.product-top .top-content {
    margin: 100px 10px 10px 10px;
    float: left;
}

.product-title {
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    color: #1d1e20;
}

.product-matrix-and-scene {
    background: #fafbfc;
}

.product-subtitle {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #6c6f75;
    margin-top: 10px;
    margin-bottom: 40px;
}

.umc-sub-header-container.price {
    background: #f0fcfa;
    height: 25vw;
    overflow: hidden;
}

.product-scene-card {
    flex: 1;

    height: 178px;
    position: relative;
    margin-right: 62px;
    margin-bottom: 64px;
}

.product-scene-card-title {
    font-size: 20px;
    height: 30px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #1d1e20;
    font-weight: 500;
}

.product-scene-card-intro {
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    color: #45464a;
    font-weight: 400;
    margin-top: 10px;
}

.umc-sub-header-container.price .divider svg {
    background: none !important;
    height: 6vw;
}

.umc-sub-header-container.price .divider svg:not([class*='bg']) path {
    fill: #fff;
}

.umc-sub-header-container.price .left svg * {

    fill: #03c9a9;
}

.umc-sub-header-container.price .right svg * {

    fill: #639ee6;
}

.normal-width {
    max-width: 1056px;
    margin: auto;
    position: relative;
}

.umc-sub-header {

    max-width: 1056px;
    margin: auto;
    position: relative;
}

.umc-sub-page-container {
    min-height: 100vh;
    background-color: #fff;
}

.umc-sub-middle-container {

    max-width: 1056px;
    margin: auto;
}

.umc-sub-footer-container {
    background-color: #3b4657;
    padding: 60px 0 0;
}

.umc-sub-middle-container .umc-sub-middle:first-child {

    background-repeat: no-repeat;
    background-position: 40% 30px;
    background-size: 1390px;
    padding: 126px 0 26px 0;
    background-image: url(images/center_bg.svg);
}

.umc-sub-footer-container footer {
    max-width: 1056px;
    margin: 0 auto;
}


.umc-sub-footer-container ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.umc-sub-footer-container footer dl {
    display: flex;
    margin-top: 20px;
}

.umc-sub-footer-container footer dl>dt {
    flex: 1;
    padding-left: 150px;
}
 .driver {
    height: 1px;
    background: #f2f7fb;
    opacity: 0.1;
    margin: 32px 0;
}
.umc-sub-footer-container li  h3{
 color: #fff;
 font-size: 16px;

}

.umc-sub-footer-container h5 {
    color: #fff;
    font-size: 1rem;
}

.umc-sub-footer-container ul>li>a {
    line-height: 22px;
    color: #8a8f8d;
    font-size: 14px;
}

.umc-sub-footer-container.ICP {

    padding: 16px 0;
    /* background-color: #303030; */
}

.umc-sub-footer-container.ICP .copyright {
    text-align: center;
    width: 100%;
}

.umc-sub-footer-container.ICP .copyright a {

    color: #8a8f8d;
}

.umc-sub-footer-container.ICP .copyright {
    color: #8a8f8d;
}

.umc-sub-header-container .left {

    left: 0;
    position: absolute;
}

.umc-sub-header-container .right {

    right: 0;
    position: absolute;
}

.umc-sub-header-container .bottom {

    bottom: 0;
    position: absolute;
}

.price-container {
    margin: 40px;
    display: flex;
    padding: 10px 100px ;
}

.price-container .el-card {
    background-color: #fff;
    border-top: 4px solid #8a8f8d;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px -2px rgb(35 72 112 / 20%);
    box-shadow: 0 2px 8px -2px rgb(35 72 112 / 20%);
    position: relative;
    overflow: visible;
    margin: 10px;
    flex: 1;
}

.Price-module_desc {

    padding: 40px 56px;
}

.Price-module_desc p {
    font-size: 16px;
}

.Price-module_desc h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin: 16px 0 24px;
}

.Price-module_desc .Price-module_subDesc {
    color: #8a8f8d;
    font-size: 14px;
    height: 80px;
}

.Price-module_priceRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-size: 16px;
    line-height: 26px;
}

.Price-module_crownContainer {
    position: absolute;
    top: 36px;
    right: -10px;
    width: 106px;
    height: 39px;
    background: 50%/contain no-repeat url(images/moreSelect.png);
    color: #523f00;
    font-size: 12px;
    text-align: center;
    padding: 5px 5px 5px 36px;
    box-sizing: border-box;
}


.ant-divider {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #262626;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    border-top: 1px solid rgba(0, 0, 0, .06);
    box-sizing: border-box;
}

.price-container .el-card ul {
    padding: 40px 56px;
}

.price-container .el-card li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    line-height: 1.75;
}

.price-container .el-card:last-child {
    border-top: 4px solid #f5d261;
}

.Price-module_descContainer .Price-module_ok {
    width: 9px;
    height: 18px;
    border-right: 2px solid #585a5a;
    border-bottom: 2px solid #585a5a;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-sizing: border-box;
}
.introduction-title {
    height: 48px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2.56px;
    color: #1d1e20;
    margin: 140px 0 20px;
    text-align: center;
}

.about-us .content .content-text {
    display: flex;
    font-size: 16px;
    line-height: 28px;
    color: #1d1e20;
    font-weight: 400;
    margin-top: 20px;
}
.about-us .content .content-text:first-child {
    margin-top: 40px;
}
.about-us .content .content-jonus {
    color: #1d1e20;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 20px;
}.introduction-line {
    height: 1px;
    background: #dadde3;
    width: 100%;
}
.contact-us .contact-us-info .contact-us-info-title {
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #212326;
    vertical-align: middle;
    margin-bottom: 14px;
}.contact-us .contact-us-info .contact-us-info-image {
    vertical-align: middle;
    height: 24px;
    margin-right: 10px;
    line-height: 24px;
    display: inline-block;
}.contact-us .contact-us-info .contact-us-info-text {
    display: inline-block;
}.contact-us .contact-us-info .contact-us-info-content {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1d1e20;
    margin-left: 32px;
    margin-bottom: 10px;
}.contact-us .contact-map {
    vertical-align: top;
    height: 371px;
    width: 480px;
    float: right;
}


@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes lightCircle {
    0% {
        opacity: .5;
        transform: translateX(-50%) scale(100%)
    }

    55% {
        opacity: 0;
        transform: translateX(-50%) scale(147%)
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) scale(147%)
    }
}

@keyframes sloganEnter {
    from {
        opacity: 0;
        transform: translateX(10px) scale(0)
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1)
    }
}

@keyframes sloganRunning {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(2.5px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(-2.5px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes sloganOut {
    from {
        opacity: 1;
        transform: translateX(0) scale(1)
    }

    to {
        opacity: 0;
        transform: translateX(10px) scale(0)
    }
}

@keyframes dotLeftEnter {
    from {
        opacity: 0;
        transform: translate(30px, -10px)
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes dotLeftRunning {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-2.5px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(2.5px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes dotRightTopEnter {
    from {
        opacity: 0;
        transform: translate(-30px, 20px)
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes dotRighTopRunning {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(2.5px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(-2.5px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes dotRightBottomEnter {
    from {
        opacity: 0;
        transform: translate(-30px, -20px)
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes dotRighBottomRunning {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(2.5px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(-2.5px)
    }

    100% {
        transform: translateY(0)
    }
}
#clue.loading {
    display: none
}

#clue .clue-components-wrapper {
    /* z-index: 200; */
    position: fixed;
    bottom: 120px;
    right: 20px
}

#clue .clue-components-wrapper .clue-buttons .clue-button {
    margin: 5px 0;
    width: 62px;
    height: 54px;
    border-radius: 3px;
    background-color: #ebf3ff;
    padding-top: 10px;
    cursor: pointer;
    position: relative;display: block;
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation.only-mobile {
    display: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc {
    padding-top: 0;
    height: 27px;
    line-height: 27px;
    position: relative
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc.active .avatar .normal,
#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc.hover .avatar .normal,
#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc:hover .avatar .normal {
    display: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc.active .avatar .hover,
#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc.hover .avatar .hover,
#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc:hover .avatar .hover {
    display: inline-block
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .light-circle {
    width: 68px;
    height: 68px;
    opacity: .5;
    background-color: #a6c9ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 50%;
    z-index: -2;
    transform-origin: center;
    animation: 1s linear 0s infinite normal both running lightCircle;
    pointer-events: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13px;
    z-index: -1;
    width: 62px;
    overflow: visible;
    display: flex;
    justify-content: center
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .avatar img {
    pointer-events: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .avatar .hover {
    display: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .slogan {
    position: absolute;
    right: 85%;
    top: -60px;
    pointer-events: none;
    visibility: hidden
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .slogan.animate {
    visibility: visible;
    animation: 1s linear 0s 1 normal both running sloganEnter, 2s linear 1s 7 normal forwards running sloganRunning, .5s linear 15s 1 normal forwards running sloganOut
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .dot-left {
    position: absolute;
    left: -20px;
    top: -40px;
    animation: .5s linear 0s 1 normal none running dotLeftEnter, 1.5s linear .5s infinite normal forwards running dotLeftRunning;
    pointer-events: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .dot-right-top {
    position: absolute;
    right: -2px;
    top: -70px;
    animation: .5s linear 0s 1 normal none running dotRightTopEnter, 1.5s linear .5s infinite normal forwards running dotRighTopRunning;
    pointer-events: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button.clue-button_wechat-consultation:not(.only-mobile).only-pc .dot-right-bottom {
    position: absolute;
    right: 0;
    top: -12px;
    animation: .5s linear 0s 1 normal none running dotRightBottomEnter, 1.5s linear .5s infinite normal forwards running dotRighBottomRunning;
    pointer-events: none
}

#clue .clue-components-wrapper .clue-buttons .clue-button:first-child {
    margin-top: 0
}

#clue .clue-components-wrapper .clue-buttons .clue-button:last-child {
    margin-bottom: 0
}

#clue .clue-components-wrapper .clue-buttons .clue-button:hover {
    background-color: #f5f9ff
}

#clue .clue-components-wrapper .clue-buttons .clue-button.active::after,
#clue .clue-components-wrapper .clue-buttons .clue-button.hover::after,
#clue .clue-components-wrapper .clue-buttons .clue-button:hover::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: solid 1px #a7caff;
    display: block;
    border-radius: 3px
}

#clue .clue-components-wrapper .clue-buttons .clue-button.active {
    background-color: #d1e3ff
}

#clue .clue-components-wrapper .clue-buttons .clue-button-icon {
    width: 16px;
    height: 16px;
    margin: 0 auto 5px auto
}

#clue .clue-components-wrapper .clue-buttons .clue-button-icon img {
    width: 16px;
    height: 16px
}

#clue .clue-components-wrapper .clue-buttons .clue-button-text {
    font-size: 12px;
    color: #0b5dd9;
    text-align: center
}

#clue .clue-cards {
    position: fixed;
    bottom: 120px;
    right: 92px;
    z-index: 201
}

#clue .clue-cards .clue-card.hover {
    z-index: 1
}

#clue .clue-cards .clue-card_wechat-consultation {
    display: none;
    width: 250px;
    height: 306px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 20px 24px 0 rgba(48, 48, 48, .1), 0 0 1px 0 rgba(48, 48, 48, .2);
    position: absolute;
    bottom: 86px;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
}

#clue .clue-cards .clue-card_wechat-consultation.active,
#clue .clue-cards .clue-card_wechat-consultation.hover {
    display: block
}

#clue .clue-cards .clue-card_wechat-consultation .info {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 20px
}

#clue .clue-cards .clue-card_wechat-consultation .info .avatar {
    width: 36px;
    height: 36px;
    margin-right: 10px
}

#clue .clue-cards .clue-card_wechat-consultation .info .name-desc-wrapper .name-wrapper {
    display: flex;
    align-items: center
}

#clue .clue-cards .clue-card_wechat-consultation .info .name-desc-wrapper .name-wrapper .name {
    color: #1d1e20;
    line-height: 1.71;
    font-size: 14px;
    font-weight: 500
}

#clue .clue-cards .clue-card_wechat-consultation .info .name-desc-wrapper .name-wrapper .sex {
    margin-left: 5px
}

#clue .clue-cards .clue-card_wechat-consultation .info .name-desc-wrapper .desc {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #c5c7c9
}

#clue .clue-cards .clue-card_app-download {
    /* width: 207px;
    height: 76px; */
    border-radius: 5px;
    box-shadow: 0 20px 24px 0 rgba(48, 48, 48, .1), 0 0 1px 0 rgba(48, 48, 48, .2);
    background-color: #fff;
    padding: 15px;
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 48px
}

#clue .clue-cards .clue-card_app-download.active,
#clue .clue-cards .clue-card_app-download.hover {
    display: flex
}


#clue .clue-modals .clue-modal_wechat-consultation {
    touch-action: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(36, 38, 41, .4)
}

#clue .clue-modals .clue-modal_wechat-consultation.hide {
    display: none
}

#clue .clue-modals .clue-modal_wechat-consultation .wechat-business-card {
    position: absolute;
    width: 300px;
    height: 390px;
    overflow: hidden;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#clue .clue-modals .clue-modal_wechat-consultation .wechat-business-card_img {
    width: 300px
}

#clue .clue-modals .clue-modal_wechat-consultation .close-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: calc(50% + 142.5px);
    top: calc(50% - 212.5px);
    transform: translate(-50%, -50%);
    cursor: pointer
}

#clue .clue-modals .clue-modal_pre-sales-call {
    touch-action: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(36, 38, 41, .4)
}

#clue .clue-modals .clue-modal_pre-sales-call.hide {
    display: none
}

#clue .clue-modals .modal-window {
    position: absolute;
    width: 300px;
    height: 247px;
    overflow: hidden;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefffe
}

#clue .clue-modals .modal-window_head {
    text-align: center;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#clue .clue-modals .modal-window_head-title {
    font-size: 14px;
    line-height: 24px;
    color: #1d1e20
}

#clue .clue-modals .modal-window_head-content {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    color: #1d1e20
}

#clue .clue-modals .modal-window_action {
    text-align: center;
    height: 50px;
    border-top: 1px solid #edeff2;
    line-height: 49px;
    cursor: pointer
}

#clue .clue-modals .modal-window_action.action-copy {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #0b5dd9
}

#clue .clue-modals .modal-window_action.action-cancel {
    letter-spacing: 1px;
    color: #6c6f75;
    font-size: 16px
}

#clue .clue-tip {
    visibility: visible;
    opacity: 1;
    pointer-events: none;
    width: 130px;
    height: 48px;
    z-index: 1000;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(36, 38, 41, .8);
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff
}

#clue .clue-tip.hide {
    transition: visibility .5s .2s linear, opacity .5s .2s linear;
    visibility: hidden;
    opacity: 0
}
.top-content .banner .banner-inner img {
    position: absolute;
    z-index: 200
}

.top-content .banner .banner-inner img:nth-child(1) {
    right: 150px;
    top: 0
}

.top-content .banner .banner-inner img:nth-child(2) {
    right: 193px;
    top: 124px;
    -webkit-animation: translateImg 2s linear infinite;
    animation: translateImg 2s linear infinite
}

.top-content .banner .banner-inner img:nth-child(3) {
    right: 95px;
    top: 120px;
    z-index: 100;
    -webkit-animation: changeSize 3s linear infinite;
    animation: changeSize 3s linear infinite
}

.top-content .banner .banner-inner img:nth-child(4) {
    right: 30px;
    top: 46px
}


.product-matrix-and-scene .application {
    width: 100%;
    height: 580px;
    background-color: #3894ff;
    position: relative
}

.product-matrix-and-scene .application .application-box {
    height: 100%;
    width: 1280px;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: none
}

.product-matrix-and-scene .application .application-box h3 {
    line-height: 40px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 48px;
    color: #fff;
    margin-top: 82px
}

.product-matrix-and-scene .application .application-box .app-line,.product-matrix-and-scene .application .application-box img {
    position: absolute
}

.product-matrix-and-scene .application .application-box .translate-right {
    -webkit-animation: translateRight .5s 1 normal;
    animation: translateRight .5s 1 normal
}

.product-matrix-and-scene .application .application-box .translate-top {
    -webkit-animation: translateTop .5s 1 normal;
    animation: translateTop .5s 1 normal
}

.product-matrix-and-scene .application .application-box .translate-bottom {
    -webkit-animation: translateBottom .5s 1 normal;
    animation: translateBottom .5s 1 normal
}

.product-matrix-and-scene .application .application-box .translate-line {
    -webkit-animation: translateLine .5s 1 normal;
    animation: translateLine .5s 1 normal
}

.product-matrix-and-scene .application .application-box img:nth-child(1) {
    left: 0;
    top: 230px
}

.product-matrix-and-scene .application .application-box img:nth-child(2) {
    left: 234px;
    top: 170px
}

.product-matrix-and-scene .application .application-box img:nth-child(3) {
    left: 234px;
    top: 313px
}

.product-matrix-and-scene .application .application-box img:nth-child(4) {
    left: 573px;
    top: 170px
}

.product-matrix-and-scene .application .application-box img:nth-child(5) {
    left: 573px;
    top: 313px
}

.product-matrix-and-scene .application .application-box img:nth-child(6) {
    left: 909px;
    top: 170px
}

.product-matrix-and-scene .application .application-box img:nth-child(7) {
    left: 909px;
    top: 313px
}

.product-matrix-and-scene .application .application-box img.translate-item:nth-child(1) {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

.product-matrix-and-scene .application .application-box img.translate-item:nth-child(2),.product-matrix-and-scene .application .application-box img.translate-item:nth-child(4),.product-matrix-and-scene .application .application-box img.translate-item:nth-child(6) {
    -webkit-transform: translateY(410px);
    transform: translateY(410px)
}

.product-matrix-and-scene .application .application-box img.translate-item:nth-child(3),.product-matrix-and-scene .application .application-box img.translate-item:nth-child(5),.product-matrix-and-scene .application .application-box img.translate-item:nth-child(7) {
    -webkit-transform: translateY(-490px);
    transform: translateY(-490px)
}

.product-matrix-and-scene .application .application-box .app-line {
    width: 991px;
    height: 3px;
    background-color: #fff;
    left: 208px;
    top: 329px
}

.product-matrix-and-scene .application .application-box .app-line.translate-item {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px)
}

.product-matrix-and-scene .application .application-box ul {
    margin-left: 294px;
    list-style: none;
}

.product-matrix-and-scene .application .application-box ul li {
    float: left;
    text-align: left
}

.product-matrix-and-scene .application .application-box ul li h4 {
    color: #fff;
    margin-bottom: 17px
}

.product-matrix-and-scene .application .application-box ul li p {
    color: #fff;
    font-size: 14px;
    position: relative
}

.product-matrix-and-scene .application .application-box ul li p i {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    left: 0;
    position: absolute
}

.product-matrix-and-scene .application .application-box ul li:nth-child(1),.product-matrix-and-scene .application .application-box ul li:nth-child(2),.product-matrix-and-scene .application .application-box ul li:nth-child(3) {
    height: 139px;
    width: 232px;
    margin-right: 107px
}

.product-matrix-and-scene .application .application-box ul li:nth-child(1) h4,.product-matrix-and-scene .application .application-box ul li:nth-child(2) h4,.product-matrix-and-scene .application .application-box ul li:nth-child(3) h4 {
    font-size: 18px
}

.product-matrix-and-scene .application .application-box ul li:nth-child(4),.product-matrix-and-scene .application .application-box ul li:nth-child(5),.product-matrix-and-scene .application .application-box ul li:nth-child(6) {
    height: 179px;
    width: 270px;
    margin-right: 69px;
    margin-top: 48px
}

.product-matrix-and-scene .application .application-box ul li:nth-child(4) h4,.product-matrix-and-scene .application .application-box ul li:nth-child(5) h4,.product-matrix-and-scene .application .application-box ul li:nth-child(6) h4 {
    font-size: 14px
}

.product-matrix-and-scene .application .application-box ul li:nth-child(4) p,.product-matrix-and-scene .application .application-box ul li:nth-child(5) p,.product-matrix-and-scene .application .application-box ul li:nth-child(6) p {
    padding-left: 10px
}

.product-matrix-and-scene .application .application-box ul li:nth-child(3n) {
    margin-right: 0
}

.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(1),.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(2),.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(3) {
    -webkit-transform: translateY(410px);
    transform: translateY(410px)
}

.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(4),.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(5),.product-matrix-and-scene .application .application-box ul li.translate-item:nth-child(6) {
    -webkit-transform: translateY(-490px);
    transform: translateY(-490px)
}

.product-matrix-and-scene .footer-inner {
    background-image: linear-gradient(179deg,rgba(253,253,253,.3) 0,rgba(193,218,255,.3) 100%);
    padding-top: 30px
}

.product-matrix-and-scene .footer-inner h3 {
    margin-bottom: 70px;
    line-height: 40px;
    font-size: 28px;
    text-align: center
}

.product-matrix-and-scene .footer-inner .user-value {
    position: relative;
    height: 550px;
    width: 1120px;
    margin: auto
}

.product-matrix-and-scene .footer-inner .user-value ul {
    margin-top: 43px;
    width: 100%;
    list-style: none;
}

.product-matrix-and-scene .footer-inner .user-value ul li {
    padding: 30px 19px 15px 65px;
    width: 190px;
    height: 121px;
    float: left;
    margin-right: 8px;
    -webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
    border-radius: 4px;
    position: relative;
    background: #fff url(/css/images/s-feature-bg.svg) right bottom no-repeat;
    background-size: 30%;
    text-align: left
}

.product-matrix-and-scene .footer-inner .user-value ul li h4 {
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 16px;
    color: rgba(0,0,0,.8)
}

.product-matrix-and-scene .footer-inner .user-value ul li p {
    font-size: 14px;
    line-height: 20px;
    color: #666660
}

.product-matrix-and-scene .footer-inner .user-value ul li:hover {
    background: #3894ff url(/css/images/feature-bg.svg) right bottom no-repeat;
    background-size: 30%
}

.product-matrix-and-scene .footer-inner .user-value ul li:hover h4,.product-matrix-and-scene .footer-inner .user-value ul li:hover p {
    color: #fff
}

.product-matrix-and-scene .footer-inner .user-value ul li:hover:after {
    top: 28px;
    left: 18px
}

.product-matrix-and-scene .footer-inner .user-value ul li:after {
    content: '';
    position: absolute;
    width: 34px;
    height: 39px;
    background-size: 80%;
    background-repeat: no-repeat;
    top: 28px;
    left: 18px
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(4n) {
    margin-right: 0
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(n+5) {
    margin-top: 25px
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(1):after {
    background-image: url(/css/images/ztsa-icon1.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(1):hover:after {
    background-image: url(/css/images/s-ztsa-icon1.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(2):after {
    background-image: url(/css/images/ztsa-icon2.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(2):hover:after {
    background-image: url(/css/images/s-ztsa-icon2.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(3):after {
    background-image: url(/css/images/ztsa-icon3.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(3):hover:after {
    background-image: url(/css/images/s-ztsa-icon3.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(4):after {
    background-image: url(/css/images/ztsa-icon4.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(4):hover:after {
    background-image: url(/css/images/s-ztsa-icon4.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(5):after {
    background-image: url(/css/images/ztsa-icon5.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(5):hover:after {
    background-image: url(/css/images/s-ztsa-icon5.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(6):after {
    background-image: url(/css/images/ztsa-icon6.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(6):hover:after {
    background-image: url(/css/images/s-ztsa-icon6.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(7):after {
    background-image: url(/css/images/ztsa-icon7.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(7):hover:after {
    background-image: url(/css/images/s-ztsa-icon7.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(8):after {
    background-image: url(/css/images/ztsa-icon8.svg)
}

.product-matrix-and-scene .footer-inner .user-value ul li:nth-child(8):hover:after {
    background-image: url(/css/images/s-ztsa-icon8.svg)
}

.index_download_items >div{
flex: 1;
text-align: center;
}
.index_download_item,
.index_download_item_iconWrap_hoverIcon,
.index_download_item_title,
.index_download_item_desc {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.index_download_item {
  display: inline-block;
  height: 100%;
  padding-top: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  line-height: 1.5;
}

.index_download_item:hover {
  border-radius: 4px;
  text-decoration: none;
}

.index_download_item:hover .index_download_item_iconWrap_normalIcon {
  opacity: 0;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
}

.index_download_item:hover .index_download_item_iconWrap_hoverIcon {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.index_download_item:hover .index_download_item_title,
.index_download_item:hover .index_download_item_desc {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px);
}

.index_download_item:hover .index_download_item_desc {
  opacity: 1;
}

@media \0screen {
  .index_download_item:hover .index_download_item_desc {
    visibility: visible;
  }
}

.index_download_item_iconWrap {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.index_download_item_iconWrap_normalIcon {
  position: relative;
  z-index: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.index_download_item_iconWrap_hoverIcon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transform: scale(1.333, 1.333);
      -ms-transform: scale(1.333, 1.333);
          transform: scale(1.333, 1.333);
}


.index_download_item_downloadIcon {
  width: 120px;
  height: 120px;
  background-size: 100%;
}

.index_download_item_title {
  margin-bottom: 4px;
  color: #000;
  font-size: 14px;
}

.index_download_item_desc {
  color: #C0C0C0;
  font-size: 12px;
  opacity: 0;
}.index_download_item_iconWrap_normalIcon {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 120px;
    height: 120px;
    background-color: #f8f8f8;
    border-radius: 60px;

}.index_download_item_iconWrap_normalIcon::before{ 

font-family: wdk;
font-size: 60px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);}

.index_download_item_Mac::before{
    content: '\f179';
    font-family: wdk; 
    color: #000;
}
.index_download_item_Window::before{
    content: '\f17a';
    font-size: 50px;
    color: #01adef;

}
.index_download_item_Linux::before{
    /* color: #267ef0; */
    content: '\f17c';
    font-size: 56px;

}

.index_download_item_iconWrap_hoverIcon {

    margin-left: 11px;
    margin-top: 15px;
    background-image: url(https://wwcdn.weixin.qq.com/node/wwnl/wwnl/style/images/officialImages$64a1bb5d.png);
    background-position: 0 -89px;
    width: 90px;
    height: 90px;
    background-position: 0 -89px;
    background-size: 376px 337px;
}
.umc-sub-footer-container .login-box{
    color: #fff;
    line-height: 75px;
    line-height: 75px;
    transform: scale(0.6);
    margin-left: -50px;
    margin-top: -15px;
}
.box-item{

    position: relative;
    margin-right: 62px;
    flex: 1 ;
}
.umc-sub-footer-container .qrcode{
    width: 120px;
    margin-top: -15px;
}
.umc-sub-footer-container .login-box::before {
  
    height: 60px;
    width: 60px;
    margin-right: -8px; 
    font-size: 50px; 
    content: '\f0e9';
    font-family: wdk;
    font-size: 50px;
    text-align: center; 
    background-position: center;
    border-color: #fff;
    transition: all .38s ease-out;
    color: #fff;
    float: left; 
    border-radius: 50%;
    box-sizing: border-box; 
    color: #fff;
}

@-webkit-keyframes translateImg {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes translateImg {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes changeSize {
    0% {
        -webkit-clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%);
        clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%)
    }

    50% {
        -webkit-clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%);
        clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%)
    }

    100% {
        -webkit-clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%);
        clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%)
    }
}

@keyframes changeSize {
    /* from {
        -webkit-clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%);
        clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%)
    }

    to {
        -webkit-clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%);
        clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%)
    } */

    0% {
        -webkit-clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%);
        clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%)
    }

    50% {
        -webkit-clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%);
        clip-path: polygon(50% -90px,-155px 50%,50% 270px,465px 50%)
    }

    100% {
        -webkit-clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%);
        clip-path: polygon(50% 60px,100px 50%,50% 120px,210px 50%)
    }
}
@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 560px) {

.umc-sub-page-container .el-row{
    display: block;
}
.index-solution-card-img{
    display: block;
    width: 100%;
    text-align: center;
}
.normal-width{
    margin-left: 10px;
    margin-right: 10px;
}
.price-container{
    display: block;
    margin: 0px;
    padding: 0;
}
.index-solution-card{
    margin: 10px 0;
}
}